.light-theme {

  .sidebar {
    background-color: rgb(226, 226, 226) !important;
    border-right: 1px #d5d5d5 solid;
  }

  .content {
    background-color: rgb(226, 226, 226) !important;

    .nav-content {
      box-shadow: inset 0 -1px 0 #d5d5d5;
    }

    .visual {
      border-bottom: 1.5px #d5d5d5 solid;

      &-design {
        border-right: 1.5px #d5d5d5 solid;
      }
    }
  }

  .carousel-container {
    background-color: #e1e1e1 !important;
  }

  .modal-card-head,
  .modal-card-body,
  .modal-card-foot {
    background-color: rgb(226, 226, 226) !important;

    span {
      color: #000;
    }
  }

  .carousel__next,
  .carousel__prev,
  h3 {
    color: #575757 !important;
  }
}